<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605774815836-phqm4irj71mj8bgflm6bsv1ve7ofsc4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605774815836-phqm4irj71mj8bgflm6bsv1ve7ofsc4c</string>
	<key>API_KEY</key>
	<string>AIzaSyCvCwmt06Fz6Nb1ETNeRDCTal16yfmdX-I</string>
	<key>GCM_SENDER_ID</key>
	<string>605774815836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crewBrew</string>
	<key>PROJECT_ID</key>
	<string>brew-crew-e91ed</string>
	<key>STORAGE_BUCKET</key>
	<string>brew-crew-e91ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605774815836:ios:bc25c8f88eb1be476afc99</string>
</dict>
</plist>